services:
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    platform: linux/arm64
    working_dir: /app
    volumes:
      - .:/app
    command: php -S 0.0.0.0:8000 -t public
    ports:
      - "8000:8000"
